@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: none !important;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

input {
  white-space: nowrap !important;
}